.div_main{
    background: #a9b5e0;
    border: 5px solid #9a9a9a;
    color: #020202;
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: center;
}
.d_flex_column{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.d_flex_row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;

}
.h300{
    height: 300px;
}
.h600{
    height: 600px;
}
.b{
    flex-grow: 4;

}
.c{
    flex-grow: 1;
}