.d_flex_row{
    display: flex;
    flex-direction: row;
}
.d_flex_column{
    display: flex;
    flex-direction: column;
}
.column_gap{
    column-gap: 20px;
    row-gap: 20px;
}
.f_g1{
    flex-grow: 1;
}
.f_g2{
    flex-grow: 2;
}
.h1000{
    height: 1000px;
}
.bg_darkblue{
    background: #00398f;
}
.bg_blue{
    background: #4a94ff;
}
.text{
    display: flex;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}